@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
*{font-family: Arial, Helvetica, sans-serif;
margin: 0;

}
header{
    background-color: olivedrab;
    padding-top: 40px;
    padding-bottom: 200px;
  
}
.container{
    max-width: 1080px;
    margin: 0 auto;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 40px;
    height: 40px; ;
    background-color: blanchedalmond;
    display: flex;justify-content: center;align-items: center;
    border-radius: 50%;
    text-decoration: none;
color: darkkhaki;
font-weight: 900;}
.navigation{
    display: flex;
    justify-content: space-evenly;
list-style-type: none;
flex-grow: 1;}
.navlinks a {
    color: rgb(72, 23, 129); 
    text-decoration: none;
    font-size: 20px;
   
}
.title { margin-top: 100px;
    margin-bottom: 80px;
    position: relative;



}
    
.minitext {
    color: rgb(245, 186, 77);
    font-size: 15px;
    border-left:  2px solid rgb(245, 186, 77); 
    font-weight: 900;
    padding-left: 20px;}

    .bigtext {
        font-size: 90px;
        color: cyan;
        font-weight: 900;
        max-width: 620px;
        letter-spacing: 3.5px;
    }
.join {
    background-color: gold;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    padding: 30px;
    padding-top: 30px;
    color: rgb(75, 188, 233);
    text-decoration:none;
    font-weight: 800;
    font-size: 15px;
    border-radius: 6px;
    }
.infoblock {
    display: flex; 
    justify-content: space-between;

}
.leftblock {
    max-width: 360px;
  
}
.leftblock img{
    display: flex;
}
.leftblock h2 {
    color: aqua;
    font-size: 20px;
    font-weight: 900;
    margin-top:15px;
}
.leftblock p {
    color: rgb(77, 248, 191);
    font-size: 15px;
    font-weight: 600;

}
.control {
    position: absolute;
    right: 0;
    bottom: 0;
    

}
.audioblock {
    background-color: rgb(170, 233, 168);
    display: flex;
    
}
.audiocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    width: 100%;

    
}
.control i {
    display: flex;
    align-items: center;
    justify-content: center;
    width:40px;
    height: 40px;
    background-color: chocolate;
    color: antiquewhite;    
    

}
.audiopanel {
    width: 100%;
    flex:1
}
.rightblock {
    width: 500px;
}
#wave {
    width: 100%;
}
footer {
    background-color: cornsilk;
    padding-top: 50px;

}
.info h1 {
color: black;
font-size: 70px;
font-weight: 500;

}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black ;
    padding:30px 0;
    
}
.leftrow {
    display: flex;
    align-items: center;

}
.leftrow p {
    color: darkgray;
    font-size: 30px;
    font-weight: 500;
}
.cursblock {
    margin-left: 60px;
}
.cursblock p {
    color: darkgray;
    font-size: 15px;

}
@media(max-width:992px) 
{
    .audioblock img{display: none;
   } 
   #wave{padding: 30px 0;
    width: 90%;
          }
}
@media (max-width:778px)
{
.join {
    display: none;
}    
.audioblock img {
    display: none;
}

    .infoblock{
        flex-direction: column;
        align-items: center;
                }
  .audioblock      {
    margin-top: 30px;
    margin-bottom: 30px ;
        }     
.bigtext {
    font-size: 60px;
} 

}

